section.breadcrumbs
    .container.breadcrumbs__container
        .breadcrumbs__list
            .breadcrumbs__item
                a(href="index.html" class="breadcrumbs__link") Главная страница
                .breadcrumbs__arrow
            .breadcrumbs__item
                a(href="" class="breadcrumbs__link") Каталог
                .breadcrumbs__arrow
            .breadcrumbs__item
                a(href="" class="breadcrumbs__link") Женская одежда
                .breadcrumbs__arrow
            .breadcrumbs__item
                a(href="" class="breadcrumbs__link active") Сарафаны
