.catalog-list
    .container.catalog-list__container
        a(href="#" class="catalog-btn") Каталог
        .catalog
            ul.catalog__list
                li.catalog__item.catalog__item-list
                    a(href="#" class="catalog__drop-link") Женская одежда
                    ul.catalog__drop
                        li.catalog__drop-item
                            a(href="#" class="catalog__drop-link") Блузы, туники
                        li.catalog__drop-item
                            a(href="#" class="catalog__drop-link") Сарафаны
                        li.catalog__drop-item
                            a(href="#" class="catalog__drop-link") Платья
                        li.catalog__drop-item
                            a(href="#" class="catalog__drop-link") Юбки, брюки
                        li.catalog__drop-item
                            a(href="#" class="catalog__drop-link") Жакеты, кардиганы
                        li.catalog__drop-item
                            a(href="#" class="catalog__drop-link") Жилетки, куртки, ветровки
                li.catalog__item
                    a(href="#" class="catalog__drop-link") Мужская одежда
                li.catalog__item.catalog__item-list
                    a(href="#" class="catalog__drop-link") Детская одежда
                    ul.catalog__drop
                        li.catalog__drop-item
                            a(href="#" class="catalog__drop-link") Детские платья
                        li.catalog__drop-item
                            a(href="#" class="catalog__drop-link") Детские косоворотки
                        li.catalog__drop-item
                            a(href="#" class="catalog__drop-link") Брюки
                li.catalog__item
                    a(href="#" class="catalog__drop-link") Этническая одежда
                li.catalog__item
                    a(href="#" class="catalog__drop-link") Аксессуары
