section.catalog-block
    .container.catalog-block-container
        .catalog-block__left
            aside.acco
                ul.acco__list
                    li.acco__item
                        a(href="#" class="acco__trigger") Женская одежда
                        .acco__block
                            a(href="#" class="acco-catalog__link") Блузы, туники
                            a(href="#" class="acco-catalog__link active") Сарафаны
                            a(href="#" class="acco-catalog__link") Платья
                            a(href="#" class="acco-catalog__link") Юбки, брюки
                            a(href="#" class="acco-catalog__link") Жакеты, кардиганы
                            a(href="#" class="acco-catalog__link") Жилетки, куртки, ветровки
                    li.acco__item
                        a(href="#" class="acco__trigger") Мужская одежда
                    li.acco__item
                        a(href="#" class="acco__trigger") Детская одежда
                        .acco__block
                            a(href="#" class="acco-catalog__link") Детские платья
                            a(href="#" class="acco-catalog__link") Детские косоворотки
                            a(href="#" class="acco-catalog__link") Брюки
                    li.acco__item
                        a(href="#" class="acco__trigger") Этническая одежда
                    li.acco__item
                        a(href="#" class="acco__trigger") Аксессуары
                    a(href="#" class="catalog__trigger")
                        <span></span>
        .catalog-block__right
            .content
                .content__title Сарафаны
                .pagination
                    ul.pagination__list
                        .pagination__item
                           a(href="#" class="pagination__link") 1
                        .pagination__item
                            a(href="#" class="pagination__link") 2
                        .pagination__item
                            a(href="#" class="pagination__link") 3
                        .pagination__item
                            a(href="#" class="pagination__link") 4
                        .pagination__item
                            a(href="#" class="pagination__link") 5
                .gallery
                    .gallery__img-container
                        .gallery__img
                           a(href="#" class="gallery__img-link")
                                img(src="assets/images/catalog/sundress.jpg" alt="Сарафан" class="gallery__img-pic")
                           .gallery__img-title
                                h3.gallery__img-title-name Название сарафана
                    .gallery__img-container
                        .gallery__img
                            a(href="#" class="gallery__img-link")
                                img(src="assets/images/catalog/sundress.jpg" alt="Сарафан" class="gallery__img-pic")
                            .gallery__img-title
                                h3.gallery__img-title-name Название сарафана
                    .gallery__img-container
                        .gallery__img
                            a(href="#" class="gallery__img-link")
                                img(src="assets/images/catalog/sundress.jpg" alt="Сарафан" class="gallery__img-pic")
                            .gallery__img-title
                                h3.gallery__img-title-name Название сарафана
                    .gallery__img-container
                        .gallery__img
                            a(href="#" class="gallery__img-link")
                                img(src="assets/images/catalog/sundress.jpg" alt="Сарафан" class="gallery__img-pic")
                            .gallery__img-title
                                h3.gallery__img-title-name Название сарафана
                    .gallery__img-container
                        .gallery__img
                            a(href="#" class="gallery__img-link")
                                img(src="assets/images/catalog/sundress.jpg" alt="Сарафан" class="gallery__img-pic")
                            .gallery__img-title
                                h3.gallery__img-title-name Название сарафана
                    .gallery__img-container
                        .gallery__img
                            a(href="#" class="gallery__img-link")
                                img(src="assets/images/catalog/sundress.jpg" alt="Сарафан" class="gallery__img-pic")
                            .gallery__img-title
                                h3.gallery__img-title-name Название сарафана
                    .gallery__img-container
                        .gallery__img
                            a(href="#" class="gallery__img-link")
                                img(src="assets/images/catalog/sundress.jpg" alt="Сарафан" class="gallery__img-pic")
                            .gallery__img-title
                                h3.gallery__img-title-name Название сарафана
                    .gallery__img-container
                        .gallery__img
                            a(href="#" class="gallery__img-link")
                                img(src="assets/images/catalog/sundress.jpg" alt="Сарафан" class="gallery__img-pic")
                            .gallery__img-title
                                h3.gallery__img-title-name Название сарафана
                    .gallery__img-container
                        .gallery__img
                            a(href="#" class="gallery__img-link")
                                img(src="assets/images/catalog/sundress.jpg" alt="Сарафан" class="gallery__img-pic")
                            .gallery__img-title
                                h3.gallery__img-title-name Название сарафана
                .pagination
                    ul.pagination__list
                        .pagination__item
                            a(href="#" class="pagination__link") 1
                        .pagination__item
                            a(href="#" class="pagination__link") 2
                        .pagination__item
                            a(href="#" class="pagination__link") 3
                        .pagination__item
                            a(href="#" class="pagination__link") 4
                        .pagination__item
                            a(href="#" class="pagination__link") 5



