header.header
    .container.header__container
        .header__logo
            img(src="assets/images/logo/logo.jpg" class="header__logo-pic" alt="logo")
        .header__menu
            nav.nav
                ul.nav__list
                    li.nav__item
                        a(href="catalog.html" class="nav__link") О компании
                    li.nav__item
                        a(href="#" class="nav__link") Сотрудничество
                    li.nav__item
                        a(href="#" class="nav__link") Контакты
        .header__btn
            a(href="#" class="header__btn-link") Оставить заявку
