section.about
    .container.about__container
        .about__title О компании
        .about__content
            .about__row
                .about__text
                    p.about-txt Производство изделий изо льна «Этнолен», базируется на компании ИП Краснова И.В. с 2006 года. Предприятие специализируется на изготовлении одежды из натуральных тканей, преимущественно изо льна, отечественного производства.
                .about__class
                    .about__class-num 06
                    .about__class-circle
                        .about__class-num 06
                    .about__class-text-top Работаем с 2006 года
            .about__row
                .about__class
                    .about__class-shirt
                        +icon("shirt", "about__shirt-pic")
                    .about__class-dress
                        +icon("dress", "about__dress-pic")
                    .about__class-circle
                    .about__class-text-middle Большой ассортимент
                .about__text
                    p.about-txt Отдельное направление работы - женская, мужская и детская одежда оптом и в розницу в стиле «этно»: русская рубаха, платья, фартуки, головные уборы с авторской росписью и вышивкой готовых изделий. Небольшой творческий коллектив создает одежду и акссесуары способом «от кутюр», т.е. в штучном исполнении. Ассортимент постоянно расширяется.</br>
                    p.about-txt-down Теперь мы делаем сумки, игрушки, текстиль для дома в своеобразном, оригинальном, этническом дизайне, сочетая высокое мастерство и безупречное качество.
            .about__row
                .about__text
                    p.about-txt Постоянные участники конкурсов и выставок ремесленных, артсалонов, народных промыслов. География наших поездом позволяет приобретать изделия по всей России и за её пределами.
                .about__class
                    .about__class-vector
                        +icon("vector", "about__vector-pic")
                    .about__class-circle
                    .about__class-text-down Участники конкурсов
