section.contacts
    .container.contacts__container
        .contacts__title Контакты
        .contacts__block
            .contacts__col
                ul.contacts__list
                    li.contacts__item
                        .contacts__item-title Адрес производства
                        .contacts__item-text г. Кострома, ул. Новосельская, 34 <br>+79051506923 Ирина Викторовна
                    li.contacts__item
                        .contacts__item-title Адреса розничных магазинов:
                        .contacts__item-text «Льняная палитра», г. Кострома, ул. Симановского, 10 <br> «Этностиль», г. Кострома, Красные Ряды
                    li.contacts__item
                        .contacts__email spart09.89@mail.ru<br>etnokostroma@mail.ru
            .contacts__col
                .contacts__tab-links
                    a(href="#" class="goto" data-goto="Россия, Кострома, Новосельская, 34" title="Москва") Производство
                    a(href="#" class="goto" data-goto="Россия, Кострома, Симановского, 10" title="Москва") Магазин на Симановского
                    a(href="#" class="goto" data-goto="Россия, Кострома, Красные ряды" title="Москва") Магазин в рядах
                .contacts__map#map
                #result



