section.cooperation
    .container.cooperation__container
        .cooperation__title Условия сотрудничества
        ul.cooperation__list
            li.cooperation__item
                .cooperation__item-pic
                    +icon("purse", "cooperation__purse-pic")
                .cooperation__item-title Сумма заказа
                .cooperation__item-text Заказ принимается от 20000 рублей.
            li.cooperation__item
                .cooperation__item-pic
                    +icon("calend", "cooperation__calend-pic")
                .cooperation__item-title Срок исполнения
                .cooperation__item-text От 4 до 14 дней и зависит от объема заказа, сложности и наличия ткани.
            li.cooperation__item
                .cooperation__item-pic
                    +icon("shirt", "cooperation__shirt-pic")
                .cooperation__item-title Количество
                .cooperation__item-text Заказы формируются размерными рядами (не менее 5 изделий).
            li.cooperation__item
                .cooperation__item-pic
                    +icon("money", "cooperation__money-pic")
                .cooperation__item-title Предоплата
                .cooperation__item-text Приступаем к выполнению заказа после 50% предоплаты от общей суммы.
            li.cooperation__item
                .cooperation__item-pic
                    +icon("delivery", "cooperation__delivery-pic")
                .cooperation__item-title Доставка
                .cooperation__item-text Доставка осуществляется транспортными компаниями «Деловые линии», «ЖелДорЭкспедиция», «ПЭК» и «КИТ» «СДЭК». Доставка до ТК осуществляется бесплатно.
