footer.footer
    .container.footer__container
        .footer__logo
            img(src="assets/images/logo/footer_logo.png" class="footer__logo-pic" alt="logo")
        .footer__menu
            nav.footer-nav
                ul.footer-nav__list
                    li.footer-nav__item
                        a(href="#" class="footer-nav__link") Главная
                    li.footer-nav__item
                        a(href="#" class="footer-nav__link") О компании
                    li.footer-nav__item
                        a(href="#" class="footer-nav__link") Сотрудничество
                    li.footer-nav__item
                        a(href="#" class="footer-nav__link") Контакты
        .footer__btn
            a(href="#" class="footer__btn-link") Оставить заявку