.about {
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-family: 'ralewaybold', Arial, sans-serif;
    font-size: 32px;
    position: relative;
    color: #817a71;
    margin-bottom: 100px;

    @media screen and (max-width: 900px) {
      margin-bottom: 50px;
    }

    &:after {
      background-color: #817a71;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      top: 50px;
      width: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;

    @media screen and (max-width: 768px) {
      margin-bottom: 50px;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    align-items: center;

    @media screen and (max-width: 900px) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
      align-items: center;
      flex-direction: column;
      display: flex;
    }

    &:nth-child(2) {

      .about__class {
        justify-content: flex-end;
      }
      .about__text {
        margin-right: 0;
        margin-left: 20px;

        @media screen and (max-width: 768px) {
          margin-left: 0;
        }

        .about-txt, .about-txt-down {
          text-align: left;

          @media screen and (max-width: 768px) {
            text-align: center;
          }
        }
        .about-txt {
          margin-bottom: 35px;

          @media screen and (max-width: 768px) {
            margin-bottom: 15px;
          }
        }
      }

      .about__class-circle {
        margin-right: 95px;
        margin-left: 0px;

        @media screen and (max-width: 900px) {
          margin-right: 65px;
        }

        @media screen and (max-width: 900px) {
          margin-right: 0px;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text, &__class {
    display: flex;
    flex: 1;
  }

  &__text {
    flex-direction: column;
    margin-right: 20px;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
      order: 2;
      margin-right: 0;
    }
  }
  
  &__class-circle {
    width: 200px;
    height: 200px;
    background-color: #f8f8f8;
    border-radius: 50%;
    margin-left: 95px;

    @media screen and (max-width: 900px) {
      margin-left: 65px;
    }

    @media screen and (max-width: 768px) {
      width: 150px;
      height: 150px;
      margin-left: 0px;
    }
  }
  
  &__class {
    position: relative;

    @media screen and (max-width: 768px) {
      order: 1;
      display: flex;
      margin-bottom: 20px;
    }

  }

  &__class-num {
    position: absolute;
    font-family: 'ralewayextralight', Arial, sans-serif;
    font-size: 103px;
    color: #c87066;
    top: -15px;
    left: 35px;

    @media screen and (max-width: 900px) {
      left: 55px;
      font-size: 90px;
    }

    @media screen and (max-width: 768px) {
      font-size: 70px;
      left: 30px;
    }
  }

  &__class-text-top {
    position: absolute;
    font-family: 'ralewaybold', Arial, sans-serif;
    font-size: 24px;
    color: #9e9992;
    bottom: 25%;
    left: 35%;

    @media screen and (max-width: 900px) {
      font-size: 20px;
    }

    @media screen and (max-width: 768px) {
      font-size: 17px;
      text-align: center;
      width: 200px;
      left: -11%;
    }
  }

  &__class-text-middle {
    position: absolute;
    font-family: 'ralewaybold', Arial, sans-serif;
    font-size: 24px;
    color: #9e9992;
    left: 15%;
    bottom: 25%;

    @media screen and (max-width: 900px) {
      font-size: 20px;
    }

    @media screen and (max-width: 768px) {
      font-size: 17px;
      width: 200px;
      left: -10%;
    }
  }

  &__class-text-down {
    position: absolute;
    font-family: 'ralewaybold', Arial, sans-serif;
    font-size: 24px;
    color: #9e9992;
    left: 35%;
    bottom: 25%;

    @media screen and (max-width: 900px) {
      font-size: 20px;
    }

    @media screen and (max-width: 768px) {
      font-size: 17px;
      width: 200px;
      left: -10%;
    }
  }

  &__shirt-pic {
    width: 101px;
    height: 110px;

    @media screen and (max-width: 768px) {
      width: 77px;
      height: 84px;
    }
  }

  &__dress-pic {
    width: 79px;
    height: 105px;

    @media screen and (max-width: 768px) {
      width: 70px;
      height: 84px;
    }
  }

  &__vector-pic {
    width: 105px;
    height: 101px;


    @media screen and (max-width: 768px) {
      width: 78px;
      height: 84px;
    }
  }

  &__class-shirt {
    position: absolute;
    right: 28%;
    top: -10%;

    @media screen and (max-width: 900px) {
      right: 32%;
    }

    @media screen and (max-width: 768px) {
      right: 50%;
    }
  }

  &__class-dress {
    position: absolute;
    top: -10%;
    right: 15%;

    @media screen and (max-width: 768px) {
      right: 0%;
    }
  }

  &__class-vector {
    position: absolute;
    top: -10%;
    left: 15%;

    @media screen and (max-width: 768px) {
      left: 34px;
    }
   }
}

.about-txt, .about-txt-down {
  font-family: 'ralewayregular', Arial, sans-serif;
  line-height: 1.8;
  color: #817a71;
  text-align: right;

  @media screen and (max-width: 768px) {
    line-height: 1.65;
    text-align: center;
  }
}