.banner {
  margin-bottom: 100px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 75px;
  }

  @media screen and (max-width: 900px) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 25px;
  }
}

.banner__img {
  max-width: 100%;
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.banner-pic {
  width: 100%;
}

